.container__generator{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10%;
}
.form{
  &__qr{
    margin-top: 15px;
  }
  &__input-qr{
    width: 100%;
    max-width: 250px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffdd00;
    font-size: 18px;
    line-height: 28px;
    color: #ffa200;
  }
}