.book-taken__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  border-bottom: 1px solid #8d8d8d;
  height: 210px;
}
// .book-taken__image-block {
//   width: 120px;
//   height: 150px;
// }

.book-taken__image {
  object-fit: cover;
  width: 130px;
  height: 160px;
  &--expired {
    border: 2px solid red;
  }
}

.book-taken__title {
  margin: 4px 5px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8d8d8d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  &--expired {
    color: red;
  }
}
