.card{
  hr{
    width: 100%;
    border: 1px solid #fff;
  }
  &__inner{
    display: flex;
    padding: 21px 10px 12px 19px;
    justify-content: space-between;
  }
  &__img{
    background-color: #fff;
    max-width: 180px;
    object-fit: cover;
    object-position: top center;

    width: 100%;
    height: auto;
    margin-right: 19px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
  }
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
    margin-right: auto;
    max-width: 298px;
    width: 100%;
  }
  &__list-item{
    color: black;
  }
  &__list-item + .card__list-item{
    margin-top: 30px;
  }
  &__response{
    display: flex;
    align-items: center;
    margin: 20px 0 10px;
  }
  &__heart{
    width: 32px;
    height: 32px;
    background:transparent;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    & svg{
      fill: rgb(232, 232, 2);
    }
  }
  &__btn{
    padding: 8px 26px;
    background: #D9D9D9;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;
  }
}